body {
  background-color: lightgray;
  font-family: monospace;
}

#header {
  display:flex;
  justify-content: center;
  font-family: monospace;
  font-size: 20px;
}

h4 {
  background-color: white;
  margin:0px;
  padding-left: 20px;
  padding-top: 10px;
}
.form-container {
  display:flex;
  background-color: white;
  margin:0px;
  padding:10px;
}

.item1-container {
  margin-left: 10px;
}

#title {
  margin-left: 7px;
}

.item2-container {
  margin-top: 10px;
  margin-left: 50px;
}

#submit-btn {
  margin: 10px;
  margin-left: 10px;
}

#table {
  display:flex;
  border-style: solid;
  background-color: white;
  border-color:black;
  padding:10px;
}

th {
  border-style: solid;
  background-color: white;
}

.remove:hover {
  background-color: red;
}


